@import url("post.css");
@import url("postsize.css");

body {
  background-image: url("./images/clouds.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
}

/* medium-large size */

@media (min-width: 770px) {

.Name {
  font-variant: small-caps;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-right: auto;
  font-size: 15pt;
 }
header {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 5px 10px;
 }

 .nav_a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  }

  .nav_a:hover{
    color: grey;
  }

 .nav_links {
   list-style: none;
 }
 .nav_links li {
   display: inline-block;
   padding: 20px;
 }

button {
  padding: 5px;
  margin: 20px;
  background-color: pink;
  border-radius: 10px;
}

 .container {
   display: grid;
   grid-template-columns: 400px 400px ;
   grid-auto-rows: minmax(400px , auto);
   grid-gap: 30px;
   grid-template-areas:
   "topLeft topRight"
   "bottomLeft bottomRight";
   justify-content:center;

 }

 .box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #ffe6e6;
   border-radius: 25px;
 }

#cardOne {
  grid-area: topRight;
}
#cardTwo {
  grid-area: topLeft;
}
#cardThree {
  grid-area: bottomRight;
}
#cardFour {
  grid-area: bottomLeft;
}
.cardTitle {
  font-variant: small-caps;
  font-size: 18pt;
  text-align: center;
  color: black;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}
.cardText {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 10px;
  font-size: 10pt;
  color: grey;
}
.cardimg {
  width: 300px;
  height:150px;
  border-radius: 15px;
}

footer {
  font-size: 10pt;
  font-variant: small-caps;
  font-weight: bold;
  clear: both;
  background-color: white;
  color: black;
  padding: 1px;
  margin-top: 15px;
  opacity: 0.2;
}
}

/* small size */
@media (max-width: 769px) {

.Name {
  text-align: center;
  font-variant: small-caps;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  grid-area: h1;
 }

 header {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 5px 10px;
  }

  .nav_a {
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   color: white;
   }

   .nav_a:hover{
     color: pink;
   }

  .nav_links {
    list-style: none;
  }
  .nav_links li {
    display: inline-block;
    padding: 10px;
  }

 button {
   padding: 5px;
   margin: 20px;
   background-color: pink;
   border-radius: 10px;
 }

 .container {
   display: grid;
   grid-template-columns: 400px ;
   grid-auto-rows: 400px;
   grid-gap: 30px;
   grid-template-areas:
   "one"
   "two"
   "three"
   "four";
   justify-content: center;
 }

 .box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #ffe6e6;
   border-radius: 25px;
 }

 #cardOne {
  grid-area: one;
 }
 #cardTwo {
  grid-area: two;
 }
 #cardThree {
  grid-area: three;
 }
 #cardFour {
  grid-area: four;
 }
 .cardTitle {
   font-variant: small-caps;
   font-size: 18pt;
   text-align: center;
   color: black;
   font-family: 'Cutive Mono', monospace;
   font-weight: bold;
   border-radius: 15px;
 }
 .cardText {
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   padding: 0px 10px;
   font-size: 10pt;
   color: grey;
 }
 .cardimg {
   width: 300px;
   height:150px;
   border-radius: 15px;
 }

 footer {
   font-size: 10pt;
   font-variant: small-caps;
   font-weight: bold;
   clear: both;
   background-color: white;
   color: black;
   padding: 1px;
   margin-top: 15px;
   opacity: 0.2;
 }

}
