/* medium-large size */

@media (min-width: 770px) {
  .container2 {
    display: grid;
    grid-template-columns: 970px 250px ;
    grid-auto-rows: 250px 500px;
    grid-gap: 15px;
    grid-template-areas:
    "boxone boxtwo"
    "boxone boxthree";
    justify-content: flex-end;

  }
  .postbox {
    background-color: #ffe6e6;
    border-radius: 25px;
  }

  #box1 {
   grid-area: boxone;
   background-color: #f0f0f5;
  }
  .imgpost{
    width: 500px;
    height: 300px;
    border-radius: 20px;
  }
  h1, h2{
    font-family: monospace;
    padding: 10px;
  }
  .posttext{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 10px;
    font-size: 13pt;
    color: grey;
    padding: 10px;
  }
  #box2 {
   grid-area: boxtwo;
   height: 250px;
  }
  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #box3 {
   grid-area: boxthree;
   height: 200px;
  }

  .followlist{
    list-style: none;
    text-decoration: none;
    font-size: 12pt;
    color: grey;
    font-family: monospace;
  }
  .followlist:hover{
    color: black;
  }

}
